@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

.nav-link {
  @apply relative px-3 py-2 text-sm font-medium transition-colors duration-200;
}

.nav-link::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-0.5 bg-purple-500 scale-x-0 transition-transform duration-300 origin-bottom-right;
}

.dark .nav-link::after {
  @apply bg-purple-400;
}

.nav-link:hover::after {
  @apply scale-x-100 origin-bottom-left;
}

.nav-link.active::after {
  @apply scale-x-100;
}
